@model IEnumerable<AlbumApp.NET.Models.Album>

@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}

@*<h2>ViewAll</h2>*@

<table class="table table-striped table-condensed" id="albumTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordLabel)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Album1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordLabel)
                </td>
     
                <td>
                    <a class="btn btn-primary btn-sm" onclick="Edit('@Url.Action("AddorEdit", "Album", new { id = item.AlbumID })')"> <i class="fas fa-edit"></i> </a>
                    <a class="btn btn-danger btn-sm" onclick="Delete('@Url.Action("Delete", "Album", new { id = item.AlbumID })')"> <i class="fas fa-trash-alt"></i> </a>

                </td>
            </tr>
        }
    </tbody>

</table>
